<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <style>
      .input-card.mdl-card {
        max-width: 300px;
      }
      
      .input-card > .mdl-card__title {
        color: #fff;
        background-color: #3E4EB8;/*#ff4081;*/
      }
      /*
      .mdl-card__actions > input {
        float: right;
      }
      */
    </style>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
    <script src="js/form.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Clerkship Shuffle</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" id="user"></a>
          </nav>
        </div>
      </header>
      <div id="logged-out">
        <h4>Sign in to access your preferences</h4>
        <div id="firebaseui-auth-container"></div>
      </div>
      <main class="mdl-layout__content" id="logged-in">
        <div class="page-content">
          <div class="mdl-grid">
          {% for i in range(4) %}
            <div id="card-{{ loop.index }}" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
              <div class="input-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Block {{ loop.index }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <form id='{{ loop.index }}'>
                  {% set blockloop = loop %}
                  {% for type in ['Current', 'Desired'] %}
                    <h5>{{ type }}:</h5>
                    {% for key, verbose in clerkship_mapping.iteritems() %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ blockloop.index }}-{{ type }}-{{ key }}">
                      <input type="radio" id="{{ blockloop.index }}-{{ type }}-{{ key }}" class="mdl-radio__button" name="{{ type }}" value="{{ key }}">
                      <span class="mdl-radio__label">{{ verbose }}</span>
                    </label>
                    {% endfor %}
                  {% endfor %}
                    <input type='hidden' name='register' value='{{ register_name }}'/>
                    <input type='hidden' name='block' value='{{ loop.index }}'/>
                    <input type='hidden' name='key' 
                      {% if loop.index in trades %}
                      value='{{ trades[loop.index].key.urlsafe() }}'
                      {% else %}
                      value=''
                      {% endif %}
                    />
                  </form>
                </div>
                <div class="mdl-card__actions">
                  <button id="submit-{{ loop.index }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Submit Trade
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div> <!-- End of main page content -->
      </main>
    </div>
  </body>
</html>
{% endautoescape %}
