<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Clerkship Shuffle</a>
          <div class="nav-collapse collapse pull-right">
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- [START trades]
      {% for trade in trades %}
      <div class="row">
        {% if trade.user %}
          <b>{{ trade.user.email }}
            {% if user and user.email() == trade.user.email %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ trade.block }}: {{ trade.current }} to {{ trade.desired }}</blockquote>
      </div>
      {% endfor %}
      [END trades] -->
      {% for i in range(4) %}
      <form id='{{ loop.index }}' action="/register?register_name={{ register_name }}" method="post">
        <div>
          <h2>Block {{ loop.index }}</h2>
        </div>
        <div>Current: 
          <select id="{{ loop.index }}current" name="current">
            {% set outerloop = loop %}
            {% for key, verbose in clerkship_mapping.iteritems() %}
            <option value="{{ key }}" 
              {% if outerloop.index in trades and trades[outerloop.index]['current']|string() == key|string() %} selected {% endif %}>
              {{ verbose }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div>Desired:
          <select id="{{ loop.index }}desired" name="desired">
            {% set outerloop = loop %}
            {% for key, verbose in clerkship_mapping.iteritems() %}
            <option value="{{ key }}" 
              {% if outerloop.index in trades and trades[outerloop.index]['desired'] == key|string() %} selected {% endif %}>
              {{ verbose }}
            </option>
            {% endfor %}
          </select>
        </div>
        <input type='hidden' name='block' value='{{ loop.index }}'/>
        <input type='hidden' name='key' 
          {% if loop.index in trades %}
          value='{{ trades[loop.index].key.urlsafe() }}'
          {% else %}
          value=''
          {% endif %}
        />
        <div><input type="submit"
          {% if loop.index in trades %}
          value="Update Trade" class="btn btn-large btn-primary green"
          {% else %}
          value="Submit Trade" class="btn btn-large btn-primary" 
          {% endif %}
          ></div>
      </form>
      {% endfor %}

      <hr>

      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}
